@media only screen and (min-width: 34em) {
    .navigation li {
        border-left: 1px solid #faa275;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        padding: 1em;
        margin-left: 1.4em;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
    }

    li a {
        border-bottom: none;
    }

    /************* Weather Site Home Page *****************/

    /****** Cards Section********/
    .cards {
        display: flex;        
        flex-wrap: wrap;
    }
    
    .cards section {
        display: flex;

    }

    .cards section:nth-child(odd) {
        flex-direction: row-reverse;
    }

}