h1, footer {
    background-color: #768907;
    padding: 15px;
    text-align: center;
}

body {
    text-align: center;
}

img {
    padding-bottom: 2em;
}
.large {
    width: 70%;
    height: auto;
}

.medium {
    width: 40%;
    height: auto;
}

.small {
    width: 25%;
    height: auto;
}