@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap');


table {
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: auto;
    background-color: #7fb9c2;
    box-shadow: 8px 8px 14px #7fb9c2;
}

table,
th,
td {
    border: 1px solid #aaaaaa;
    border-collapse: collapse;
    padding: 8px;
}

th {
    color: white;
    background-color: #628ca6;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}

.bold {
    color: white;
    background-color: #628ca6;
}

.top {
    background-color: #7fb9c2;
}