@import url('https://fonts.googleapis.com/css?family=Gayathri|Playfair+Display&display=swap');

header,
footer {
    font-family: 'Playfair Display', serif;
    padding: 2em;
    margin: 2em;
    background-color: coral;
    border: coral;
    text-align: center;
}