@media only screen and (min-width: 58em) {

    /************** Colors ******************/
    /*
#FCB97D - Orange
#EDD892 - Yello
#C6B89E - Brown
#B5B8A3 - Grey Green
#AABA9E - Green
*/

    .heading {
        font-size: 30px;
    }

    .trips div {
        display: flex;
        flex-direction: row;
        padding: 50px;
    }

    .trips div img {
        margin-left: 50px;
        max-width: 500px;
    }

    .trips div ul {
        margin-left: 30px;
    }

}