@media only screen and (min-width: 58em) {
    ul{
        padding: 1em;
        padding-left: center;
    }
    li a {
        border-bottom: none;
    }
    .navigation li:first-child{
        display: none;
    }
    .navigation li {
         display: inline;
         border-left: 1px solid #faa275;
     }
     .navigation {
        display: flex;
        justify-content: space-around;
    }
    .navigation a{
        padding: 1em;
    }
    .navigation li {
        display: block;
    }
}