@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    } 
    
    .navigation li {
         display: inline;
         border-left: 1px solid #faa275;
     }

    
}