@import url('https://fonts.googleapis.com/css?family=Gayathri|Playfair+Display&display=swap');

header,
footer {
    border-radius: 10px;
    font-family: 'Gayathri', sans-serif;
    padding: 2em;
    margin: 2em;
    background-color: coral;
    border: coral;
}

nav, p, ul {
    font-family: 'Playfair Display', serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
  }

footer {
    text-align: center;
}

main {
    margin-left: 4em;
}

h1, h2, h3 {
    font-family: 'Gayathri', sans-serif;
    font-size: 1rem;
}

.me {
    width: 170px;
    height: auto;
}