@media only screen and (min-width: 58em) {

    li a {
        border-bottom: none;
    }

    /************* Weather Site Home Page *****************/

    /****** Cards Section********/
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
    .cards section {
        display: grid;
    }
/************* Gallery *********************/

.gallery {
    grid-template-columns: 1fr 1fr 1fr;
}

}