@import url('https://fonts.googleapis.com/css?family=Gayathri|Playfair+Display&display=swap');

header,
footer {
    font-family: 'Playfair Display', serif;
    padding: 2em;
    background-color: #ec4067;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

picture {
    padding-right: 1em;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

.navigation {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #faa275;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
}

li a:hover {
    background-color: #ef5d60;
}

.logo {
    border-radius: 50%;
    width: 7em;
}

h2 {
    padding-left: 2em;
}

h1,
h2 {
    font-family: 'Gayathri', sans-serif;
}

p,
div {
    font-family: 'Playfair Display', serif;
}

.box {
    background-color: #faa275;
    margin: 1.5em;
    padding: 2em;
    display: flex;
}

li a:active {
    background-color: #a01a7d;
    color: white;
}

.main p {
    text-align: left;
}

p {
    font-weight: bold;
}

/***** Display banner Section ******/

.ad {
    background-color: #a01a7d;
    color: whitesmoke;
    text-shadow: 4px -2px 5px black;
}

.hidden {
    display: none;
}

.active {
    background-color: #ec4067;
    color: #faa275;
}

/***************** Article section **********************/
.girl {
    width: 100%;
    display: block;
}

.contactbox {
    display: block;
    padding: 1.5em;
    margin: auto;
}

/****************** 5 Day Forcast ************************/

.fiveday {
    display: none;
}

/************ Preston Contact Section *************/
.map {
    display: none;
}

/****************** Weather summary section *******************/
.weathersummary {
    position: absolute;
    margin-left: 40px;
    top: 15px;
    left: 15px;
    min-width: 10em;
    height: 12em;
    background: radial-gradient(#ef5d60, #faa275);
    border: 0.2em solid #ec4067;
    padding: 0.8em;
    box-shadow: 0 0 30px #111;
    opacity: .8;
}

.weathersummary p {
    line-height: 80%;
}

.herodiv {
    position: relative;
}

/************ Hero Section *******************/

main figure.myphoto img {
    width: 100%;
    /*max-width: 900px;*/
}

main figure.myphoto figcaption {
    text-align: center;
    font-size: .75rem
}
/************* Weather Site Home Page *****************/

/****** Cards Section********/
.cards {
    display: grid;
    grid-template-columns: 1fr;
    
}

.cards section {
    margin: .5em;
    padding: 20px;
    border: 2px solid #faa275;
    border-radius: 10px;
    background-color: rgb(255, 247, 232);
    box-shadow: 8px 8px 20px;
}

.cards img {
    display: block;
    padding: 20px;
    margin: auto;
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
}


/******** Main section *********/

.main {
    background-color: #faa275;
    border-radius: 10px;
    padding: 10px;
    margin: 1em;
    text-align: center;
}

.main img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 5px;
}

.main p {
    padding: 10px;
}
/************* FORM (MAIN) *****************/

main {
    max-width: 1100px;
    margin: auto;
    display: block;
}

form {
    justify-content: center;
    margin: auto;
}
form fieldset {
    font-family: 'Gayathri', sans-serif;
    margin: 2em;
    border: 3px solid #faa275;
    border-radius: 10px;
    padding: .5rem 2%;
    max-width: 30em;
}

form legend {
    color: #ec4067;
    font-size: 25px;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: #ef5d60;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #a01a7d;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
}

form label.sbs {
    display: block;
    padding: .75rem;
    color: #555;
}

.drop-radio {
    display: inline-block;
}

form input.button {
    border: none;
    background-color: #a01a7d;
    color: white;
    font-family: 'Gayathri', sans-serif;
    font-size: x-large;
    border-radius: 1rem;
    padding: .75rem;
    padding-top: 1.3rem;
    margin: 2em;
    width: 96%;
    max-width: 20rem;
}

.button:hover {
    background-color: #ef5d60;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/************* Gallery *********************/

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.gallery img {
    box-shadow: 10px 10px 10px #555;
    border-radius: 10px;
}

/****************** Events ********************/

.events {
    background-color: #a01a7d;
    color: white;
    padding: 2em;
    margin: 1em;
    justify-content: center;
    text-align: center;
}